.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

mat-sidenav-container {
  height: calc(205vh - 115vh);
}

mat-sidenav {
  width: 200px;
  background-color: palevioletred;
}